:root {
    --border-color: #DBDBDB;
    --nav-height: 28px;
    --content-width: 1020px;
}

body {
    font-family: 'Roboto', sans-serif;
}

ion-icon {
    font-size: 22px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    padding: 0 10px;
    border-bottom: 1px solid var(--border-color);
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    width: var(--content-width);
    height: var(--nav-height);
}

.mobile-nav {
    display: none;
    width: 100%;
    height: var(--nav-height);
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
}

.left-nav ion-icon {
    padding-right: 10px;
    border-right: 1px solid var(--border-color);
}

.logo {
    height: var(--nav-height);
    margin-left: 10px;
}

.right-nav ion-icon {
    margin-left: 10px;
}

nav input {
    width: 215px;
    height: 28px;

    background-color: #FAFAFA;
    border-radius: 3px;
    border: 1px solid var(--border-color);

    font-size: 12px;
}

nav input::placeholder {
    text-align: center;
}

/* Versão mobile do header */
@media (max-width: 767px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}