:root {
    --border-color: #DBDBDB;
    --nav-height: 28px;
    --nav-icon-size: 22px;
    --nav-icon-spacing: 16px;
    --content-width: 1020px;
    --header-footer-height: 54px;
    --header-footer-padding: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-footer-height);
    padding: 0 var(--header-footer-padding);
    border-bottom: 1px solid var(--border-color);
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    width: var(--content-width);
    height: var(--nav-height);
}

.mobile-nav {
    display: none;
    width: 100%;
    height: var(--nav-height);
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
}

/* Espaçando igualmente quaisquer
   filhos diretos de .left-nav e
   .right-nav */
.left-nav>*+* {
    margin-left: calc(var(--nav-icon-spacing) / 2);
}

.right-nav>*+* {
    margin-left: var(--nav-icon-spacing);
}

/* Restringindo tamanho dos ícones da
   navbar e de seus respectivos links */
nav ion-icon {
    font-size: var(--nav-icon-size)
}

nav a {
    width: var(--nav-icon-size);
    height: var(--nav-icon-size)
}

nav .vertical-border {
    width: 1px;
    height: var(--nav-height);
    background-color: var(--border-color);
}

nav .logo {
    height: var(--nav-height);
}

/* Formatando caixa de pesquisa */
nav input {
    width: 215px;
    height: var(--nav-height);
    background-color: #FAFAFA;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    font-size: 12px;
}

nav input:focus {
    outline: 1px solid var(--border-color);
}

nav input::placeholder {
    text-align: center;
}

/* Nav do footer para versão mobile */
footer {
    display: none;
    height: var(--header-footer-height);
    width: 100vw;
    padding: 0 var(--header-footer-padding);
    border-top: 1px solid var(--border-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Versão mobile do header e do footer */
@media (max-width: 767px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}